[Unit]
Description=Android Debug Bridge FunctionFS
Before=adbd.service
After=modprobe@fs-functionfs.service usbgadget-init.service usbgadget-func-adb-pre.service
Wants=modprobe@fs-functionfs.service
Requires=usbgadget-init.service usbgadget-func-adb-pre.service
[Mount]
What=adb
Where=/dev/usb-ffs/adb
Type=functionfs
